mat-toolbar{
    display: flex;
    font-size: medium;
}

.toolbar-header{
    flex-grow: 1;
}

.user-pic{
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.logout-link{
    margin-left:10px;
}