footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgb(2, 122, 66);

    div {
        margin-right: 0;
        margin-left: auto;
        width: 250px;
        color: rgb(255, 255, 255);
    }
}