footer {
    width: 99%;
    position: fixed;
    bottom: 0;
    background-color: rgb(49, 209, 134);

    div {
        margin-right: 10px;
        margin-left: auto;
        width: 250px;
        color: rgb(255, 255, 255);
    }
}