<mat-form-field class="dest-container">
  <input
    type="text"
    placeholder="{{ 'filters.destination.placeholder.text' | translate }}"
    matInput
    [formControl]="searchCity"
    [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
    <ng-container *ngIf="!isLoading">
      <mat-option *ngFor="let city of suggestedCities" [value]="city" (onSelectionChange)="cityChange(city)">
        <span>{{ city.name }}</span>
        <small> | {{city.country}}</small>
      </mat-option>
    </ng-container>
  </mat-autocomplete>
</mat-form-field>
