.auth-form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    .social-login-btn {
        margin-bottom: 15px;
        width: 100%;
        i{
            margin-right: 10px;
            font-size: 24px;
        }
    }
}


