@import "../../../scss/variables";
ul {
    list-style: none;
    padding-left: 0;
}

.weatherWrapper {
    border-radius: 50px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.rain, .cloudly, .snow, .sun, .average {
    width: 4rem;
    height: 4rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.rain {
    background-image: url(../../../assets/weatherIcons/rain.png);
}

.cloudly {
    background-image: url(../../../assets/weatherIcons/cloudly.png);
}

.sun {
    background-image: url(../../../assets/weatherIcons/sun.png);
}

.snow {
    background-image: url(../../../assets/weatherIcons/snow.png);
}

.average {
    background-image: url(../../../assets/weatherIcons/average.png);
}