<div class="card">
  <h2>Lviv</h2>
  <p>
    October 23 - November 7
  </p>
  <div>
    Weather block.......
    <button (click)="showListService()">ListItem</button>
  </div>
  <div>
    <div *ngIf="ITEMS.length > 0">
      <mat-radio-group>
        <mat-radio-button (change)="uncheckAll()" value="check">
          Uncheck All
        </mat-radio-button>

        <mat-radio-button  (change)="checkAll()" value="uncheck">
          Check All
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="item-details">
      <h3>Total weight</h3>
      <div class="item-details-weight">{{totalWeight}}kg</div>
    </div>
  </div>
  <h2>General List</h2>
  <div class="pack-items">
    <ul *ngFor="let item of listItems| async">
        <li *ngFor="let it of item" >
          {{ it | json }}
        </li>
        </ul>
  </div>
  <div *ngIf="isOpenAddedField" class="add-item">
    <input #newItem  type="text">
    <button mat-raised-button
            color="accent"
            (click)="addNewItem(newItem)">
      Add
    </button>
    <button  mat-raised-button
             color="accent"
            (click)="toggleAddedField()">
      Cancel
    </button>
  </div>
  <div *ngIf="!isOpenAddedField" (click)="toggleAddedField()">
    <button mat-fab>+</button> Add your item
  </div>
  <div class="p">
    <button mat-raised-button color="accent">Save you list</button>
  </div>
</div>


