<!-- <h3>{{ 'filters.type.header.text' | translate }}</h3> -->

  <button class="trevel-type" mat-button [class.selected]="selectedType==Type.Business" (click)="selectType(Type.Business)">
      <i class="material-icons">work</i>
      <p>{{ 'filters.type.business.text' | translate }}</p>
  </button>
  <button class="trevel-type" mat-button [class.selected]="selectedType==Type.Leisure" (click)="selectType(Type.Leisure)">
      <i class="material-icons">wb_sunny</i>
      <p>{{ 'filters.type.leisure.text' | translate }}</p>
  </button>
  