@import "../../scss/variables";
@import "../../scss/mixins";


.container {
  min-height: 86.5vh;
  padding: 30px 100px;
  background: $light-gray;
  background-image: url('../../assets/img/bags.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  @include respond(medium) {
    padding: 10px;
  }
}
mat-vertical-stepper {
  background: $green;
  padding: 10px 60px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0,0,0,.4);
  color: $brown;
  max-width: 540px;
  @include respond(medium) {
    padding: 10px;
  }
}
.generate-wrap {
  margin-top: 40px;
  @include respond(medium) {
    margin-top: 20px;
  }
}
.filter-title {
  color: $brown;
  font-size: 25px;
  font-weight: normal;
  @include respond(medium) {
    font-size: 18px;
  }
}