<qpac-header></qpac-header>
<qpac-filter-type (changedSelectedType)="changedSelectedType($event)"></qpac-filter-type>
<qpac-filter-gender (changedTypeOfGender)="changedTypeOfGender($event)"></qpac-filter-gender>
<qpac-filter-duration (changedDepartureDate)="changedDepartureDate($event)"></qpac-filter-duration>
<qpac-weather-display [response]="response"></qpac-weather-display>
<div>
  <button
    mat-raised-button color="primary"
    (click)="generate(this.weatherParams, this.typeOfTrip, this.activitiesParams)">Generate List</button>
</div>

<pre>
  {{ item$ | async | json }}
</pre>

<qpac-generated-list></qpac-generated-list>