@import "../../scss/variables";
@import "../../scss/mixins";

.container {
  padding: 30px 100px;
  min-height: 100vh;
  background-color: $light-gray;
  border-right: 4px;
  @include respond(medium) {
    padding: 10px;
  }
}
.generated-list {
  max-width: 740px;
  background: $green;
  @include respond(medium) {
    display: block;
  }
}

.is-loading ::ng-deep .mat-option-text {
  display: flex;
  justify-content: center;
}
