@import "../../scss/variables";
@import "../../scss/mixins";

.container {
  padding: 30px 100px;
  min-height: 100vh;
  border-right: 4px;
  background: $light-gray;
  background-image: url('../../assets/img/bags.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  @include respond(medium) {
    padding: 10px;
  }
}
.generated-list {
  max-width: 740px;
  background: $green;
  &-header {
    background: $pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: $light-gray;
    .listTitleWrapper {
      font-size: 24px;
      color: $light-gray;
    }
  }
  @include respond(medium) {
    display: block;
  }
}
.is-loading ::ng-deep .mat-option-text {
  display: flex;
  justify-content: center;
}
.btn-save {
  padding: 20px 15px;
  display: flex;
  justify-content: center;
}
