header {
    width: 100%;
    height: 50px;
    display: flex;
    background-color: rgb(2, 122, 66);
    align-items: center;

    #logo {
        padding-left: 15px;
    }

    nav {
        margin-right: 0;
        margin-left: auto;

        li {
            display: inline-block;
            list-style-type: none;
            margin: 0 20px;
            vertical-align: middle;

            mat-form-field {
                width: 60px;

                .mat-select {
                    color: rgb(0, 0, 255);

                    mat-option {
                        color: rgb(0, 0, 255);
                        background-color: white;
                    }
                }
            }

            a {
                font-size: 1.25rem;
                text-decoration: none;
            }
        }
    }
}